<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/about.css" />
    <title>關於我們</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">Bunny幫你</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="about">關於我們</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="product">實驗動物認養</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div id="banner"></div>
    <div class="container mb-3">
        <div class="row g-0">
            <div class="col-lg align-self-center text-left">
                <h3 class="title mt-3">| 關於我們<small>About Us</small></h3>
                <p> 成立目的</p>
                <p> 【邦妮幫你Bunny】是由國立臺北商業大學推動，開發出具有驗證無動物實驗相關認證的APP，方便大眾查詢及購買。
                    <br /> 我們希望推廣台灣無動物實驗／友善動物觀念，提供消費者方便好用的工具，發揮消費的力量，讓化粧品及居家清潔用品的動物實驗不再存在。</p>
            </div>
            <div class="col-lg align-self-center text-center">
                <img src="images/about.jpg" class="img-fluid">
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg align-self-center text-center">
                <h3 class="title mt-3">| 聯絡資訊<small>About Us</small></h3>
                <p>信箱：bunny111204@gmail.com<br />地址：臺北市中正區濟南路一段321號
                </p>
            </div>
            <div class="col-lg order-lg-first">
                <img src="images/School.jpg" class="img-fluid">
            </div>
        </div>
    </div>
    <footer class="text-center bg-dark text-white py-2">
      Copyrights © 2022 All Rights Reserved by Bunny幫你
    </footer>
    <!-- Optional JavaScript -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>
