<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>新增動物</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png">
    <!-- Base Styling  -->
    <link rel="stylesheet" href="assets/main/css/fonts.css">
    <link rel="stylesheet" href="assets/main/css/style.css">
</head>

<body>
    <div id="main-wrapper" class="show">


        <!-- start logo components -->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="empindex"> <img class="logo-tabib" src="assets/images/icon-07.png" alt=""></a>
                <a href="empindex"><img class="brand-title" src="assets/images/BunnyLOGO.jpg" alt=""></a>
            </div>
        </div>
        <!-- End logo components -->


        <!-- start section sidebar -->
        <aside class="left-panel nicescroll-box">
            <nav class="navigation">
                <ul class="list-unstyled main-menu">
                    <li class="has-submenu">
                        <a href="empindex">
                            <i class="fas fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="has-submenu active">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-user-md"></i>
                            <span class="nav-label">管理動物資料</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="addanimal">新增動物</a></li>
                            <li><a href="animallist">全部動物</a></li>
                            <!--  <li> <a href="doctor-profile.html">動物資料</a> </li> -->
                        </ul>
                    </li>
                    <!--<li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">活動</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="newevent">新增活動</a></li>
                            <li><a href="allevent">全部活動</a></li>
                        </ul>
                    </li>-->
                    <li class="has-submenu">
                        <a href="adopterdetail">
                            <i class="fas fa-calendar-plus"></i>
                            <span class="nav-label">領養人資訊</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="memberadmin">
                            <i class="fas fa-calendar-plus"></i>
                            <span class="nav-label">會員管理</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="feedbackpage">
                            <i class="fas fa-book-medical"></i>
                            <span class="nav-label">會員回報訊息</span>
                        </a>
                    </li>
                    <!-- <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-book-medical"></i>
                            <span class="nav-label">Prescriptions</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="new-prescription.html">New Prescription</a></li>
                            <li><a href="all-prescriptions.html">All Prescriptions</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="add-drug.html">
                            <i class="fas fa-pills"></i>
                            <span class="nav-label">Add Drug</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-heartbeat"></i>
                            <span class="nav-label">Tests</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="add-test.html">Add Test</a></li>
                            <li><a href="all-tests.html">All Tests</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="calendar.html">
                            <i class="fas fa-calendar-alt"></i>
                            <span class="nav-label">calendar</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="reports.html">
                            <i class="fas fa-chart-pie"></i>
                            <span class="nav-label">Reports</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-file-invoice"></i>
                            <span class="nav-label">Billing</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="create-invoice.html">Create Invoice</a></li>
                            <li><a href="billing-list.html">Billing List</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fas fa-cog"></i>
                            <span class="nav-label">Settings</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="doctor-settings.html">Doctor Settings</a></li>
                            <li><a href="prescription-settings.html">Prescription Settings</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" class="has-arrow mm-collapsed">
                            <i class="fa fa-tag"></i>
                            <span class="nav-label">Authentication</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="empty-page.html">Empty Page</a></li>
                            <li><a href="page-login.html">Login simple</a></li>
                            <li><a href="page-login-one.html">Login with Bg Image</a></li>
                            <li><a href="page-register.html">Register simple</a></li>
                            <li><a href="page-register-one.html">Register with Bg Image</a></li>
                            <li><a href="page-lock-screen.html">Lock Screen</a></li>
                            <li><a href="page-forgot-password.html">Page forgot password</a></li>
                            <li><a href="page-error-404.html">Error 404</a></li>
                            <li><a href="page-error-500.html">Error 500</a></li>
                        </ul>
                    </li>
                </ul>-->
            </nav>
            <div class="sidebar-widgets">
                <div class="top-sidebar box-shadow mx-25 m-b-30 p-b-20 text-center">
                    <a href="new-appointment.html">
                        <!--      <img src="https://via.placeholder.com/215/f8f8f8/2b2b2b" class="side-img" alt="img">-->
                    </a>
                    <a href="#">
                        <h4 class="text-primary mb-0"></h4>
                    </a>
                </div>
                <div class="copyright text-center">
                    <p class="mb-0"> Bunny幫你 Dashboard</p>
                    <p class="mb-0"> © 2022 </p>
                </div>
            </div>
        </aside>
        <!-- End section sidebar -->


                <!-- start section header -->
                <div class="header">
                    <header class="top-head container-fluid">
                        <div class="nav-control">
                            <div class="hamburger">
                                <span class="line"></span><span class="line"></span><span class="line"></span>
                            </div>
                            <div class="left-header content-header__menu">
                                <ul class="list-unstyled">
                                    <li class="nav-link btn">
                                        <a href="#"><i class="far fa-calendar-check"></i> <span> 管理員後台</span></a>
                                    </li>
                                    <li class="nav-link btn">
                                        <a href="#"><i class="far fa-file-alt"></i> <span> 系統運行中</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-right">
                            <div class="my-account-wrapper">
                                <div class="account-wrapper">
                                    <div class="account-control">
                                        <a class="login header-profile" href="#" title="Sign in">
                                            <div class="form-content">
                                                <a href="page-login.html">
                                                    <i class="fas fa-sign-in-alt"></i>
                                                    <span class="ml-2">登出 </span>
                                                </a>
                                            </div>
                                            
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
                <!-- End section header -->


        <!-- start section content -->
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="new-patients main_container">
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h4 class="text-primary">新增動物</h4>
                            </div>
                        </div>
                        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="empindex">Home</a></li>
                                <li class="breadcrumb-item active"><a href="addanimal">新增動物</a></li>
                            </ol>
                        </div>
                    </div>
                    <form action="/newanimal" enctype="multipart/form-data" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">動物資訊</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="basic-form">
                                            <form>
                                                <div class="row">
                                                    <div class="col-xl-4">
                                                        <div class="form-group row widget-3">
                                                            <div class="col-lg-10">
                                                                <div class="form-input">
                                                                    <label class="labeltest" for="file-ip-1">
                                                                        <span> Drop image here or click to upload.
                                                                        </span>
                                                                    </label>
                                                                    <input type="file" name="an_pic" id="file-ip-1" accept="image/*" onchange="showPreview(event)" required>
                                                                    <div class="preview">
                                                                        <img id="file-ip-1-preview" src="#" alt="img">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4">
                                                        <div class="form-group">
                                                            <span>動物名字:</span>
                                                            <input type="text" name="an_name" class="form-control"
                                                                placeholder="動物名字" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <span>動物品種:</span>
                                                            <input type="text" name="an_variety" class="form-control"
                                                                placeholder="動物品種" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <span>生日:</span>
                                                            <input type="date" name="an_birth" class="form-control"
                                                                placeholder="生日" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4">

                                                        <div class="form-group">
                                                            <span>體重:</span>
                                                            <input type="text" name="an_size" class="form-control"
                                                                placeholder="體重" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <span>性別:</span>
                                                            <select name="an_sex" class="form-control form-select" required>
                                                                <option value="性別" hidden></option>
                                                                <option>母</option>
                                                                <option>公</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-4">
                                                        <!--   </div>
                                                <div class="col-xl-8">
                                                    <div class="form-group">
                                                        <select class="form-control ">
                                                            <option>User role</option>
                                                            <option>Surgery</option>
                                                            <option>Gastroenterologist</option>
                                                            <option>Endocrinologist</option>
                                                        </select>
                                                    </div>-->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-4">
                                                        <div class="form-group">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-8">
                                                        <div class="form-group">
                                                            <span>故事內容:</span>
                                                            <textarea class="form-control" name="an_depiction"
                                                                placeholder="故事內容:" rows="4" required></textarea>
                                                        </div>
                                                        <div class="form-group text-right">
                                                            <button type="submit" onclick="return confirmAdd()"
                                                                class="btn btn-primary float-end">新增動物</button>
                                                        </div>
                                                        <script>
                                                            function confirmAdd(){
                                                                if(an_name!=null){
                                                                    alert("新增成功");
                                                                }
                                                            }
                                                        </script>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <script>
                        function showPreview(event){
                        if(event.target.files.length > 0){
                            var src = URL.createObjectURL(event.target.files[0]);
                            var preview = document.getElementById("file-ip-1-preview");
                            preview.src = src;
                            preview.style.display = "block";
                        }
                        }
                    </script>
                    <!--  <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Medical Information</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group">
                                                        <label class="form-label">Main specialization</label>
                                                        <select class="form-control form-select">
                                                            <option>Type 1 Diabetes</option>
                                                            <option>Multiple Sclerosis</option>
                                                            <option>Rheumatoid Arthritis</option>
                                                            <option>Allergies & Asthma</option>
                                                        </select>
                                                        <div class="col-lg-12">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group">
                                                        <label class="form-label">Secondary specialization</label>
                                                        <select class="form-control form-select">
                                                            <option>Secondary specialization</option>
                                                            <option>Celiac Disease</option>
                                                            <option>cancer</option>
                                                            <option>Catarrh</option>
                                                            <option>Conjunctivitis</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group">
                                                        <label class="form-label"> Medical Education </label>
                                                        <select class="form-control form-select">
                                                            <option>Medical University</option>
                                                            <option>Medical College</option>
                                                            <option>Nurse School</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group">
                                                        <label class="form-label">Period</label>
                                                        <input type="text" class="form-control" placeholder="Period">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group text-right">
                                                <button type="submit" class="btn btn-primary float-end ">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
                    <!-- End section content -->


                    <!-- start section footer -->
                    <div class="footer">
                        <div class="copyright">

                            </p>
                        </div>
                    </div>
                    <!-- End section footer -->


                </div>


                <!-- JQuery v3.5.1 -->
                <script src="assets/plugins/jquery/jquery.min.js"></script>

                <!-- popper js -->
                <script src="assets/plugins/popper/popper.min.js"></script>

                <!-- Bootstrap -->
                <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

                <!-- Moment -->
                <script src="assets/plugins/moment/moment.min.js"></script>

                <!-- Date Range Picker -->
                <script src="assets/plugins/daterangepicker/daterangepicker.min.js"></script>

                <!-- Datatable -->
                <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
                <script src="assets/js/init-tdatatable.js"></script>

                <!-- Main Custom JQuery -->
                <script src="assets/js/toggleFullScreen.js"></script>
                <script src="assets/js/main2.js"></script>

</body>

</html>