<!-- HTML structure
    heading introducing the bulletin board
    nav with the different news categories
    section encapsulating the different news items
        div for each item of news, displaying the date and an anchor link referencing detailed information
-->
<link rel="stylesheet" href="css/billboard.css">
<script src="js/billboard.js"> </script>
<div class="board">
    <h1 class="board__heading">
        訊息公告
    </h1>

   <nav class="board__nav">
        
    </nav>

    <section class="board__news">
     

        
        <a class="news--item" href="#">
            <p class="date">
              
            </p>
            <p class="title">
                
            </p>
        </a> 
    </section>
</div>