<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登入系統</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="manifest" href="manifest.json">
</head>

<body>
    <div id="wrapper">
        <header>
            <p>請登入</p> 
        
        </header>
        <div id="content">
            <form action="memberlogin" method="post">
                <div class="form-group">
                    <input class="form-control" placeholder="E-mail" name="m_email" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Password" name="m_password" type="password">
                </div>
                <!--<div class="checkbox">
                    <label>
                        <input name="remember" type="checkbox">記住我
                    </label>
                </div>-->
                <div><input type="submit" class="btn" value="登入"></div>
                <button type="button" class="btn2" onclick="location.href='register'">註冊</button> 
            </div>
            <!--captcha -->
<input type="text" name="token" id="token" hidden />
<input type="text" name="callback" id="callback" hidden />
<input type="text" name="k" id="k" hidden />
<div id="captcha">
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="module">
        import { Captchashow } from "https://captcha.ascdc.tw/NTUB111205/NTUBCAPTCHA/resource/Test/callCaptcha.js";
        Captchashow("5fdcd42a0b2cd396619823c111b8d4881926d5bb",location.host);
    </script>
</div>
<!--captcha -->
                
                   
            </form>
            

        </div>
    </div>
</body>

</html>
