<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/product.css" />
    <link rel="manifest" href="manifest.json">
    <title>實驗動物認養</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">Bunny幫你</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">關於我們</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="product">實驗動物認養</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div id="banner"></div>
    <div class="container my-3">
      <div class="row g-0">
        <h3 class="title my-3">| 實驗動物認養<small></h3>
      </div>
      <div class="row">
        <div class="col-lg mb-3">
          <div class="card">
            <img
              class="card-img-top"
              src="images/ado.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title text-danger">幫助實驗動物未來好好生活</h5>
              <p class="card-text">
                這片土地上的你我牠都需要一個和諧的環境
              </p>
              <a href="detail" class="btn btn-outline-primary float-end"
                >我要領養</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg mb-3" >
          <div class="card">
            <img
              class="card-img-top"
              src="images/sponsor.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title text-danger">捐款資訊</h5>
              <p class="card-text">
                郵局劃撥帳號：123456789
              </p>
              <a href="donate" class="btn btn-outline-primary float-end">
                線上立刻捐款支持</a
              >
           <!--- </div>
          </div>
        </div>
        <div class="col-lg mb-3">
          <div class="card">
            <img
              class="card-img-top"
              src="images/cake03.jpg"
              alt="Card
                            image cap"
            />
            <div class="card-body">
              <h5 class="card-title text-danger">test</h5>
              <p class="card-text">
                test
              </p>
              <a href="detail.html" class="btn btn-outline-primary float-end"
                >test</a
              >
            </div>
            --->
          </div>
        </div>
      </div>
    </div>
    <footer class="text-center bg-dark text-white py-2">
      Copyrights © 2022 All Rights Reserved by Bunny幫你
    </footer>
    <!-- Optional JavaScript -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>
