.animal-pic {
  width: 256px;
  height: 256px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 5px;
}

.animal-pic img {
  width: 100%;
  position: relative;
}
