body {
    font-family: Microsoft JhengHei;
}
#banner {
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
    margin-top: 3.5rem;
}
.title {
    color: #FA8072;
    font-weight: bold;
}

.profile-image {
    width: 150px;
    height: 150px;
    border: 4px solid rgb(0, 0, 0);
    -webkit-border-radius: 75px;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .profile-image img {
    width: 150%;
    position: relative;
  }

  .animal-image{
    width: 256px;
    height: 256px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 60px;
  }

  .animal-image img {
    width: 100%;
    position: relative;
  }